{% load static %}

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-white fixed-top" color-on-scroll="500" style="background-color: aliceblue">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{% url 'welcome' %}" rel="tooltip" title="Loving our Animals" data-placement="bottom" target="_blank">
          <img src="https://www.petco.com/wcsstore/PetcoStore/img/brand-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="{% static 'img/blurred-image-1.jpg' %}" data-color="orange">
        <ul class="navbar-nav ml-auto" id="ceva">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">
              <font color="black"><i class="now-ui-icons design_app"></i>
                  <p> Pet Park</p></font>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" href="{% url 'dog_heaven' %}">
                  <font color="black"><i class="now-ui-icons business_chart-pie-36"></i> View All Pets</font>
              </a>
              <a class="dropdown-item" target="_blank" href="{% url 'create_dog_post' %}">
                  <font color="black"><i class="now-ui-icons design_bullet-list-67"></i> Create Pet Post</font>
              </a>
            </div>
          </li>
            <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown">
              <font color="black"><i class="now-ui-icons design_app"></i>
                  <p>Pet Park</p></font>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" href="{% url 'update' %}">
                  <font color="black"><i class="now-ui-icons business_chart-pie-36"></i> My Profile</font>
              </a>
              <a class="dropdown-item" target="_blank" href="{% url 'create_dog' %}">
                  <font color="black"><i class="now-ui-icons design_bullet-list-67"></i> Add Pet</font>
              </a>
                <a class="dropdown-item" target="_blank" href="{% url 'account_goal' %}">
                    <font color="black"><i class="now-ui-icons design_bullet-list-67"></i> Graphs</font>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <font color="black"><i class="now-ui-icons design_image" aria-hidden="true"></i>
                  <p>Examples</p></font>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./examples/about-us.html">
                  <font color="black"><i class="now-ui-icons business_bulb-63"></i> About-us</font>
              </a>
              <a class="dropdown-item" href="./examples/blog-post.html">
                  <font color="black"><i class="now-ui-icons text_align-left"></i> Blog Post</font>
              </a>
              <a class="dropdown-item" href="./examples/blog-posts.html">
                  <font color="black"><i class="now-ui-icons design_bullet-list-67"></i> Blog Posts</font>
              </a>
              <a class="dropdown-item" href="./examples/contact-us.html">
                  <font color="black"><i class="now-ui-icons location_pin"></i> Contact Us</font>
              </a>
              <a class="dropdown-item" href="./examples/landing-page.html">
                  <font color="black"><i class="now-ui-icons education_paper"></i> Landing Page</font>
              </a>
              <a class="dropdown-item" href="./examples/login-page.html">
                  <font color="black"><i class="now-ui-icons users_circle-08"></i> Login Page</font>
              </a>
              <a class="dropdown-item" href="./examples/pricing.html">
                  <font color="black"><i class="now-ui-icons business_money-coins"></i> Pricing</font>
              </a>
              <a class="dropdown-item" href="./examples/ecommerce.html">
                  <font color="black"><i class="now-ui-icons shopping_shop"></i> Ecommerce Page</font>
              </a>
              <a class="dropdown-item" href="./examples/product-page.html">
                  <font color="black"><i class="now-ui-icons shopping_bag-16"></i> Product Page</font>
              </a>
              <a class="dropdown-item" href="./examples/profile-page.html">
                  <font color="black"><i class="now-ui-icons users_single-02"></i> Profile Page</font>
              </a>
              <a class="dropdown-item" href="./examples/signup-page.html">
                  <font color="black"><i class="now-ui-icons tech_mobile"></i> Signup Page</font>
              </a>
            </div>
          </li>
          <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link btn btn-primary" href="javascript:{document.getElementById('logout').submit()}" target="_blank"><p>Logout</p></a>
              <form id="logout" action="{% url 'logout' %}" method="POST">
                  {% csrf_token  %}
                  <input type="hidden">
                  </form>
              {% else %}
            <a class="nav-link btn btn-primary" href="{% url 'login' %}" target="_blank">
              <p>Login</p>
            </a>
              {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->