{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="wrapper" style="background-image: url('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.wallpapersafari.com%2F84%2F72%2Fq6rm5Y.jpg&f=1'); background-size: cover">
<br>
        <br>
        <br>
        <div class="container">
            <div class="text-center">
                <h2 >Create Pet Post</h2>
            </div>

    <div class="card container">
        <form method="post" action="{% url 'create_dog_post' %}" novalidate="novalidate">
            {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputState">Pick Your Pet</label>
      {{ form.pet }}
    </div>
    <div class="form-group col-md-9">
      <label for="inputBread">Title Post</label>
        {{ form.post_title }}
    </div>
  </div>
            <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputState">Funding or Non-Funding</label>
        {{ form.monetization }}
    </div>
                <div class="form-group col-md-3">
                    <label for="inputBread">Funding Goal</label>
                    {{ form.funding_goal }}
                </div>
<div class="form-group col-md-6">
      <label for="inputState">Type of Post</label>
    {{ form.post_type }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Pet Personality Page</label>
            <!-- add rich text editor here -->
      {{ form.media }}
                <div style="width: 100%">{{ form.post_body |safe }}</div>
</div>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Agree to posting terms.
        <span class="form-check-sign">
          <span class="check"></span>
        </span>
      </label>
    </div>
  </div>
  <center><button type="submit" class="btn btn-primary" value="post" name="post">Create Post</button></center>
</form>
    </div>
</div>
    </div>
{% endblock %}